@{
    ViewData["Title"] = "Web Fragments Demo";
}
<h1>@ViewData["Title"]</h1>

<h4>Fragment 2 Placeholder (extracting article):</h4>
<web-fragment source-url="@ViewBag.Fragment2Url"></web-fragment>
